// Import Files
@use "./helpers/normalize";
@use "./helpers/mixins" as *;
@use "./template" as *;
// Breakpoints
@include breakpoint("small", "min") {
    .container {
        width: 750px;
    }
}
@include breakpoint("medium", "min") {
    .container {
        width: 970px;
    }
}
@include breakpoint("large", "min") {
    .container {
        width: 1170px;
    }
}

// Navbar
.navbar {
    padding: 24px 0 24px 0;
    background-color: #fff;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    i {
        display: none;
        font-size: 32px;
    }
    .logo {
        font-size: 40px;
        font-weight: bold;
        color: $text_color;
        span {
            color: $main_color;
        }
    }
    .menu {
        ul {
            padding: 0;
            display: flex;
            li {
                margin-right: 20px;
                a {
                    color: $text_color;
                    transition: $transition;
                    font-weight: 600;
                    &:hover {
                        color: $main_color;
                    }
                    &.active {
                        color: $main_color;
                    }
                }
            }
        }
    }
}

// Hero Section
.hero-section {
    @extend %section;
    position: relative;
    background-color: $bg_color;
    height: calc(100vh - 223.2px);
    .container {
        display: flex;
        align-items: center;
    }
    .text {
        flex: 1;
        h1 {
            font-size: 70px;
            span {
                color: $main_color;
            }
        }
    }
    .image {
        img {
            position: relative;
            width: 600px;
        }
    }
}

// Our Services
.our-services {
    @extend %section;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        .box {
            text-align: center;
            transition: $transition;
            background-color: #fff;
            border: 1px solid #333;
            border-radius: $box_radius;
            padding: 60px 0 60px 0;
            &:hover {
                border-color: transparent;
                box-shadow: 1px 1px 16px #3333331f;
            }
            .icon {
                i {
                    font-size: 44px;
                    border: 1px solid $main_color;
                    color: $main_color;
                    padding: 20px;
                    border-radius: $box_radius;
                    margin-bottom: 20px;
                }
            }
            .title {
                font-size: 25px;
                font-weight: bold;
                color: $text_color;
            }
            p {
                color: #757575;
            }
        }
    }
}

// Latest Property
.latest-property {
    @extend %section;
    background-color: $bg_color;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        .box {
            @extend %box-card;

            .content {
                .title-price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4 {
                        color: $main_color;
                        font-weight: 500;
                    }
                }
                .location {
                    margin-bottom: 10px;
                    i {
                        margin-right: 10px;
                        color: $main_color;
                    }
                }
                .details {
                    display: flex;
                    div {
                        margin-right: 15px;
                        i {
                            color: $main_color;
                            background-color: $bg_color;
                            padding: 10px;
                            border-radius: 7px;
                            margin-right: 4px;
                        }
                    }
                }
                .owner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .profile {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 15px;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                        h3 {
                            font-weight: 500;
                        }
                    }
                    .icons {
                        font-size: 20px;
                        i {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

// Our Blog

.our-blog {
    @extend %section;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        .blog {
            @extend %box-card;
            .content {
                .title {
                    margin-bottom: 0;
                }
                .publish-date {
                    margin-top: 5px;
                    font-weight: 500;
                }
                .summary {
                    color: #757575;
                }
                .read-more {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 19px;
                    color: $main_color;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

// Our Testimonials

.our-testimonials {
    @extend %section;
    background-color: $bg_color;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        .testimonial {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            background-color: #fff;
            border-radius: $box_radius;
            padding: 20px 0 20px 0;
            .avatar {
                width: 70px;
                height: 70px;
                img {
                    width: 100%;
                    border-radius: 50%;
                    border: 3px solid $main_color;
                }
            }
            .username {
                font-weight: 500;
                color: #757575;
                margin-bottom: 5px;
            }
            .rate {
                i {
                    color: orange;
                }
            }
            p {
                color: #757575;
            }
        }
    }
}

// Footer

.footer {
    @extend %section;
    ul {
        padding: 0;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        .column {
            .title {
                font-size: 20px;
                font-weight: 600;
                color: #333;
            }
            &.desc {
                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                    span {
                        color: $main_color;
                    }
                }
                p {
                    margin-top: 0;
                    color: #757575;
                }
            }
            &.list {
                color: #757575;
                &.links {
                    a {
                        color: #757575;
                        transition: $transition;
                        &:hover {
                            color: $main_color;
                        }
                    }
                }
            }
        }
    }
}

// Copyrights

.copyrights {
    border-top: 1px solid rgb(228, 228, 228);
    text-align: center;
    padding: 15px 0 15px 0;
    i {
        color: red;
    }
    a {
        color: $main_color;
    }
}

// Responsive

@include breakpoint("small", "max") {
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .container {
            .text {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }
    .navbar {
        .menu,
        .cta {
            display: none;
        }
        i {
            display: block;
        }
    }
}
@include breakpoint("medium", "max") {
    .hero-section {
        .container {
            flex-direction: column;
            justify-content: center;
            .image {
                display: none;
            }
            .text {
                text-align: center;
            }
        }
    }
}
